.hungry__container {
  min-height: 100vh;
  justify-content: center;
}

.padding-top {
  padding-top: 120px;
}

.btn-primary {
  font-size: 1.3rem;
  font-weight: bold;
}

.emoji__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  font-size: 2.2rem;
}

.emoji__container div {
  cursor: pointer;
  margin-right: 2rem;
  transition: 0.3s;
}

.emoji__container div:hover {
  opacity: 0.5;
}

.emoji__container div span {
  font-size: 1.3rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.ingredients-title {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

ul {
  list-style-position: inside;
  padding: 0;
}

.recipe__container {
  text-align: justify;
}

.recipe__container,
ul {
  font-size: 18px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}
